@media (min-width:1140px){

header {width:100%; height:91px; background-color:#fff; position:fixed; top:0; left:0; z-index:9999; }
header #logo {width:190px; height:55px;  background:#fff url(../img/logo.png) no-repeat center; left:0; margin:15px 0 0 50px}
header #mobilemainNav {display:none!important;}
header #mainNav {right:40px; margin:40px 50px 0 0;  display:block!important;}
header #mainNav li {float:left; margin:0 0 0 20px;}	
header #switchLang {width:30px!important; height:100px!important; margin:-2px 0 0 0px!important; font-size:30px; right:40px; margin:32px 0px 0 0!important; }
header nav#lang  {right:40px; top:35px;}


/*section#signUp */
section#signUp p#slogan {top:8vh!important;}
section#signUp article #item { width:33%; position:relative; left:20px; float:left; margin:195px 0 0 0px;  background:url(../img/HRitem.png) no-repeat right; text-align:center; line-height:42px;}
section#signUp article #item:last-child {border:none; background:none!important;}
section#signUp article #item button {position:relative; top:20px;}
section#signUp #homeBtnIndex {position:relative; padding:20px 0 70px 0!important; bottom:100px; left:50%; width:30%!important; margin:0 auto 0 auto; font-size:33px; cursor:pointer; transform: translate(-50%, -50%);}


section#signUp article  #homeitemWrapper {width:70%; position:relative; top:98px;  margin:0 auto;}

section#signUp article  #homeitem {width:48.2%; float:left; position:relative; top:0px; line-height:30px; margin:35px 0 0 14px; border:1px  solid #e6e6e6; background-color:#fff!important; -webkit-box-shadow: 0px 1px 15px -1px rgba(0,0,0,0.33);
-moz-box-shadow: 0px 1px 15px -1px rgba(0,0,0,0.33);
box-shadow: 0px 1px 15px -1px rgba(0,0,0,0.33);}
section#signUp article  #homeitem input {display:none;}
section#signUp article  #homeitem  ul li {text-indent:15px; clear:both;}
section#signUp article  #homeitem  ul li i {margin:0!important; padding:0!important; position:relative!important; left:0!important;}
section#signUp article  #homeitem  ul li  span{float: left; width:90px!important;display: inline-block; }
section#signUp article  #homeitem  ul li:first-child{font-size:30px; padding:10px 0 10px 0; background-color:#e6e6e6;}
section#signUp article  #homeitem  ul li:nth-child(2){font-size:30px; padding:10px 0 10px 0;}
section#signUp article  #homeitem button {width:100%!important; position:relative; top:20px; left:0!important; margin:0!important; padding:0!important;}
/*section#signUp end*/

/*section#cloud */
section#cloud p#slogan {top:8vh!important; text-align:right;}
section#cloud  article p:first-child {left:12%!important; top:14vh!important;}
section#cloud  article p:nth-child(2){width:38%; line-height:33px; left:20%!important; top:29vh!important; }
section#cloud  article p {position:relative; float:left;}
/*section#cloud end*/

/*section#price  */
section#price p#slogan {top:8vh!important; text-align:center; z-index:9000;}
section#price article {background:url(../img/content1BgWhite.png) no-repeat center center; top:-21vh!important;}
section#price article ul li {float:left; width:33%; text-align:center; border-left:1px solid #DDDCD8; background-color:#ffffff; padding:0 0 50px 0;}
section#price article ul li h1 {padding:0 0 5px 0; font-weight:bold;}
.table {min-height:325px; height:auto; width:100%; margin-top:50px;}
/*section#price end*/

/*section#payment  */
section#payment {width:100%; margin:0 auto; line-height:22px;}
section#payment article 	{background:url(../img/content1BgWhite.png) no-repeat center center; padding:0 0 200px;}
section#payment p#slogan {position:relative!important; top:0px!important; text-align:center; z-index:9000;padding:7vh 0 3vh 0;}
section#payment article #paymentSection {width:69%; clear:both; margin:0 auto;}
section#payment article #paymentSection ul{width:33.3%; float:left;}
section#payment article #paymentSection p,
section#payment article #paymentSection h1 {clear:both; padding:15px 0 15px 0; }
section#payment article #paymentSection h1  {font-size:22px; font-weight:bold; border-bottom:1px dotted #515151; padding:30px 0 0 0!important;}
section#payment article #paymentSection.sub ul {width:100%!important;}
section#payment article #paymentSection ul li:first-child{padding:20px 0 20px 0!important;}

/*section#price end*/

/*section#contact*/
section#contact p#slogan {top:8vh!important; text-align:center; z-index:99;}
section#contact article {background:url(../img/content2BgWhite.png) no-repeat center center; top:-10vh!important;}
section#contact fieldset#contact_Address {position:absolute; width:69%; left:50%; clear:both; margin:0 auto; margin:240px 0 0 50px;z-index:9900;}
section#contact fieldset#contact_Address  {width:500px!important;}
section#contact fieldset#contact_Address div {margin:30px 0 0 0!important;}
section#contact fieldset#contact_Address div label {width:112px!important;float:left; clear:left; padding:5px 0 5px 0;}
section#contact fieldset#contact_Address div p {width:700px!important;  padding:5px 0 5px 0;}
section#contact fieldset#contact_Address div p:nth-child(1) {font-weight:bold;}
section#contact  #map {width:420px; height:420px; position:absolute; left:50%; top:0; margin:280px 0 0 -450px;}
section#contact  #map img {width:420px; height:420px;}

/*section#contact end*/

/*section#setting*/
section#setting {padding:0px 0 50px 0; -moz-appearance: none; -webkit-appearance:none;} 
section#setting h2 {position:relative; top:30px; left:50%; margin:0 0 0 -530px; width:500px!important;  clear:both!important; display:block!important;}
section#setting h2 span {display:none;}
section#setting article {width:100%; margin:0 auto; position:relative; top:70px; }
section#setting #form h1 {width:100%; padding:20px 0 20px 0; text-align:center; clear:both;}
section#setting #form h1 span {font-weight:bold;}
section#setting #form label {position:relative; top:-5px; left:50%; margin:0 0 0 -530px; width:500px!important; height:120px; clear:both!important; display:block!important;}
section#setting #form label div {width:100%!important; padding:10px 0 10px 0;}
section#setting #form label select{ width:100%!important; background-color:#fff!important;}
section#setting div.select {width:515px!important;position:relative; left:50%; margin:0 0 0 -542px; clear:both; padding:40px 0 0 0;}

#OrderSummary {position:absolute;left:50%;top:315px;width:500px!important; min-height:400px!important; line-height:40px;margin:28px 0 0 50px;padding:0 0 0 0px;font-size:18px;border:3px solid #e6e6e6; border-bottom:none!important;  -webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px}
#OrderSummary h1 {font-size:30px; font-weight:bold; padding:20px 0 70px 0;  position:relative; left:30px; }
#OrderSummary label {clear:both!important; display:block!important; position:relative; left:30px;}
#OrderSummary label div {width:129px; float:left;}
#OrderSummary label span div:nth-child(1) {width:180px!important;}
#OrderSummary label span div:nth-child(2)::before  {content:"HK$";}
#OrderSummary label span div#monthContent::before  {content:""!important;}
#OrderSummary label span div#monthContent::after    {content:"months"!important;}
#OrderSummary label.list div:nth-child(3) {position:relative; left:47px!important;}
#OrderSummary label p#widthSO {width:280px!important;}
#OrderSummary label div:last-child {width:1000px!important;}
#OrderSummary button#ADDEDBTN {width:100%!important; position:relative; left:0px; top:-3px; cursor:pointer; z-index:99999; display:block!important;}
#OrderSummary #loadingBTN {width:100%; height:42px;  position:relative; top:10px; display:none; text-align:center;}
#OrderSummary #loadingBTN span {position:relative; top:-8px;}
#OrderSummaryinner {min-height:350px!important;} 
/*section#setting*/

/*#dedicatedserverCart*/
section#checkout #dedicatedserverCart ul  { width:78%!important; max-width:1059px!important; margin:0 auto; clear:both!important; height:auto; padding-bottom:55px;} 
section#checkout #dedicatedserverCart ul li{ width:14%; float:left; padding:20px 0 20px; text-align:center!important; border-right:1px solid #e6e6e6}
section#checkout #dedicatedserverCart ul li:last-child {border:none!important;}
section#checkout #dedicatedserverCart ul:nth-child(1){background-color:#e6e6e6;}
section#checkout #dedicatedserverCart ul:not:nth-child(1){border-bottom:1px solid #e6e6e6;}
/*table*/
section#checkout #dedicatedserverCart table#checkoutorder_item  {width:78%!important; max-width:1059px!important; margin:30px auto 0 auto; clear:both!important; height:auto; padding-bottom:55px;} 
section#checkout #dedicatedserverCart table#checkoutorder_item tr:first-child{font-weight:bold; font-size:22px; padding:0 0 20px!important; background-color:#efefef!important;}
section#checkout #dedicatedserverCart table#checkoutorder_item tr td {padding:5px; width:33%; border:1px solid #e6e6e6}
section#checkout #dedicatedserverCart table#checkoutorder_item tr#totalList td {background-color:#efefef; border:1px solid #fff!important; font-weight:bold;}
section#checkout #dedicatedserverCart table#checkoutorder_item tr#totalList td:nth-child(1) {text-align:right; }
/*table*/


section#checkout #myform  input{width:78%!important; max-width:1054px!important;}
section#checkout #myform  select{width:78%!important; max-width:1054px!important;}
section#checkout #myform  p#termAndShip {width:78%!important; max-width:1059px!important; text-indent:50px!important; padding:10px 0 10px 0!important;}
section#checkout p#termAndShip input#termAndShip2 {width:30px!important; height:30px!important; position:absolute; left:1%!important;  border:1px solid red!important; margin:9px 0 0 0!important; }
/*#dedicatedserverCart*/

/*section termsofservice*/
body.termsofservice { background:#fff url(../img/bgnews.jpg) repeat fixed center 0; }

section#termsofservice p,section#termsofservice ol,section#termsofservice  h4 {width:100%; max-width:950px; margin:2px auto 0 auto; line-height:24px;}
section#termsofservice article  p:nth-child(2),section#termsofservice ul{padding:10px 0 10px 0!important;}
section#termsofservice ol li {list-style-type:decimal!important; color:#34939f;}
section#termsofservice h4 {font-weight:bold; padding:10px 0 10px 0!important; color:#34939f;}
section#termsofservice p ,section#termsofservice ul li{color:#515151;}

/*section privacy*/
body.privacy { background:#fff url(../img/bgnews.jpg) repeat fixed center 0; }
section#privacy p,section#privacy ol,section#privacy  h4 {width:100%; max-width:950px; margin:2px auto 0 auto; line-height:24px;}
section#privacy article  p:nth-child(2),section#privacy ul{padding:5px 0 10px 0!important;}
section#privacy ol li {list-style-type:decimal!important; color:#34939f;}
section#privacy h4 {font-weight:bold; padding:10px 0 10px 0!important; color:#34939f;}
section#privacy p ,section#privacy ul li{color:#515151;}

button{cursor:pointer;}
button.red,li.button{width:187px!important; height:43px; background-color:#c81b22!important; padding:0!important; position:relative;  }
button.red:hover,li.button:hover {background-color:#ea050e!important;}
li.button {height:43px!important; padding:13px 0 13px 0!important;}
button.red {left:calc(50% - 93px);}

#finalest   {padding:20px 0 20px 0; cursor:pointer; font-size:33px!important;}
#finalest:hover  {background-color:#ea050e!important;}

}  